@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mooli', sans-serif;
}

legend {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #000e4e;
  border-radius: 2px 2px 40px 40px;
  margin: 0px 20px;
}

.navbar-light .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

li.nav-item {
  margin-left: 2px;
  padding: 1px;
}

.nav-link {
  color: #f7fcfd;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #f7fcfd;
  color: #000e4e;
  border-radius: 10px;
}

.card {
  background-color: #f7fcfd;
  /* padding: 4px 4px; */
  margin: 10px;
  border-radius: 10px;
  max-height: 380px;
  display: grid;
  flex-direction: column;
  /* Display horizontally */
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  gap: 10px;
  /* Adjust spacing between elements as needed */
  width: 240px;
  overflow: hidden;

  transition: transform 750ms;
  will-change: transform;
}

.card:hover {
  background-color: rgb(208, 215, 228);
  border: 2px solid rgb(112, 112, 111);
  transform: translateY(-15px);
  transition: transform 125ms;

  .card-img-top {
    /* border-radius: 15px; */
    transform: scale(1.6) translate(2px, 33px);
    transition: transform 0.4s ease-in;
  }
}

.banner {
  margin-top: 4em;
  border-bottom: 1px solid #469ea8;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

.review-header {
  background-color: #31727a;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.review {
  margin-right: -16px;
  margin-left: -16px;
  margin-bottom: 0.5em;
}

.btn {
  margin-top: 1em;
}

.badge-default,
.btn-primary {
  background-color: #ad1d28;
  border-color: #911821;
}

h4 a,
h4 a:hover {
  color: #fff;
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: #aaa;
}

h1 small {
  color: #aaa;
}


p {
  font-family: 'Poppins', sans-serif;
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  padding-right: 6px;
}

a:hover {
  color: #fff;
}

.fa-star {
  color: #aaa;
  font-size: medium;
}

span.badge.badge-warning {
  background-color: #FFC436;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #161313;
  background-color: #FFF5E0;
}

.phead {
  margin-top: 60px;
}

.card-img-top {
  height: 250px;
  width: 150px;
}



h5.card-title {
  /* white-space: nowrap; */
  overflow: hidden;
  /* Hides the overflow */
  text-overflow: ellipsis;
  font-weight: 700;
  color: #575757;
  max-width: 100%;
}

.card-body {
  padding: 5px;
}


.card-text {
  background-color: #FF6969;
  border-radius: 6px;
  border: 3px solid #ed2d2d;
  height: max-content;
  width: max-content;
  padding: 1px 3px;
  color: azure;
  font-size: small;
  margin: 3px;
}

.infoblock {
  background-color: #f7fcfd;
  padding: 1rem;

  margin: 5px;
  border-radius: 10px;
  max-width: 100%;
  min-height: max-content;
}

.infoblock.infoBookpic {
  background-color: #FFF5E0;
}

.infoBookpic img.card-img-top {
  height: 350px;
  width: 200px;
  margin-top: 8px;
}

.card img.card-img-top {

  border-radius: 5px;
  display: block;
  margin: 5px auto;
}

#openpdf {
  background-color: #ad1d28;
  border-color: #ad1d28;
  border-style: none;
  margin: 6px 55px;
  padding: 3px 8px;
  border-radius: 6px;
  color: whitesmoke;
}

.form-group.searchbar {
  display: inline-flex;
  flex-direction: row;
}

button.btn.btn-outline-success {
  background-color: #FFF5E0;
  color: #000e4e;
  border-radius: 20px;
  margin: 4px 8px;
}

button.btn.btn-outline-success:hover {
  background-color: #ddfcb4;
  color: #000e4e;
  border-radius: 20px;
  margin: 4px 8px;
}

input.form-control {
  border-radius: 10px;
}

.form-group.row {
  margin: 10px;
}

.option-text {
  color: #161313;
}

img.aboutimg {
  padding: 0px;
  margin: 0px;
  height: 500px;
  width: 500px;
  position: fixed;
  transform: translate(20px, -40px);
}

select.nav-link {
  width: 90px;
  margin-right: 30px;
}

div.listinContacts li {
  list-style-type: none;
  margin: 10px;
}

div.listinContacts a {
  color: #0625b0;
}