extends layout

block content
    .row.banner
        .col-12
            h1= title 
    
    .row
        .col-6
            div.listinContacts
                ul
                    li Email: helpdesk@booktangle.com
                    li Phone: +91 830-946-9994
                    li Address: 35th Avenue, Mathur Road, Jubilee Hills, Hyderabad, India
                    li Facebook: 
                        a(href="https://www.facebook.com/BookTangle") www.facebook.com/BookTangle
                    li Instagram: 
                        a(href="https://www.instagram.com/BookTangle") www.instagram.com/BookTangle
        .col-6
            img.contactus(src="/images/contact.png", alt="Contact Image")
