extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-6
            p Welcome to Booktangle, where the world of literature and technology collide to create a unique reading experience like no other. 
            p Our journey began with a passion for books and a vision to make reading more accessible, engaging, and enjoyable for everyone. 
            p Our Mission At Booktangle, our mission is simple yet profound: to connect readers with the magic of words and stories. We believe that books have the power to transform lives, broaden horizons, and spark imagination. 
            p Our goal is to provide a digital platform that fosters a vibrant reading community and empowers readers to discover, discuss, and cherish the written word. 
            p The Booktangle Experience Booktangle isn't just an online bookstore; it's a literary haven that brings together book enthusiasts, authors, and publishers. 
            p Here's what sets us apart: Diverse Selection: Our vast collection spans across genres, from timeless classics to contemporary bestsellers. Whether you're a fan of romance, science fiction, history, or self-help, you'll find a treasure trove of books to explore. 
            p User-Friendly Interface: We've designed our platform with you in mind. Our intuitive interface ensures that finding your next great read is a breeze. Search for books, read sample chapters, and add favorites to your virtual bookshelf—all in a few clicks. 
            p Personalization: Discovering new books has never been easier. Booktangle offers personalized recommendations based on your reading history and preferences, helping you uncover hidden gems. 
            p Online Reading: Immerse yourself in the world of your chosen book with our seamless online reading experience. No downloads, no hassles—just pure reading pleasure. 
            p Community and Engagement: Join fellow readers in lively discussions about your favorite books and authors. 
            p Our discussion forums and book clubs provide a space to connect, share insights, and make new friends who share your literary passions. 
            p Our Team Behind Booktangle is a dedicated team of book lovers, tech enthusiasts, and creatives who are committed to enhancing your reading journey. We're continuously working to improve the platform, add exciting features, and expand our book catalog to serve you better.
            p Get Involved We invite you to become a part of the Booktangle community. Create your account, build your virtual bookshelf, leave reviews, participate in discussions, and embark on a literary adventure like no other. 
            p Thank you for choosing Booktangle as your digital reading companion. We look forward to sharing the joy of reading with you and creating lasting literary connections. 
            p Happy Reading!
        .col-6
            img.aboutimg(src="/images/about.png", alt="about")